extends layout.jade
block contenido
  #myCarousel.carousel.slide(data-ride='carousel')
    // Indicators
    ol.carousel-indicators
      li.active(data-target='#myCarousel', data-slide-to='0')
      li(data-target='#myCarousel', data-slide-to='1')
    // Wrapper for slides
    .carousel-inner(role='listbox')
      .item.active
        img.img-rounded(src='/images/preguntas.jpg', alt='Image')
        .carousel-caption
          h3 Preguntas
          p
            | Podras a침adir todas las preguntas que deseas a tu gymkhana de la manera m치s facil
      .item
        img.img-rounded(src='/images/gymkhana.jpg', alt='Image')
        .carousel-caption
          h3 Gymkhanas
          p
            | Podras crear,modificar y editar gymkhanas, adem치s de jugar a gymkhanas tanto tuyas como de otros usuarios
    // Left and right controls
    a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
      span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
      span.sr-only Previous
    a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
      span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
      span.sr-only Next
  hr.spartan
  .row
    .col-md-4
    .col-md-4
        button.btn.btn-success.btn-lg(type='button', onclick="window.location.href='/login'") Iniciar sesi칩n
        button.btn.btn-primary.btn-lg(type='button', onclick="window.location.href='/registrar'") Registrarse
    .col-md-4
  
