
.my-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.my-nav li {
    float: left;
}

.my-nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.my-nav li a:hover:not(.active) {
    background-color: #111;
}

.my-nav .active {
    background-color: #4CAF50;
}