<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Geoke-web by makelele29</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
	<link rel="stylesheet" type="text/css" href="stylesheets/micss.css" media="screen">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">Geoke-web</h1>
      <h2 class="project-tagline">Pagina web de la aplicación Geoke en Android.</h2>
      <a href="https://github.com/makelele29/Geoke-Web" class="btn">View on GitHub</a>
      <a href="https://github.com/makelele29/Geoke-Web/zipball/master" class="btn">Download .zip</a>
      <a href="https://github.com/makelele29/Geoke-Web/tarball/master" class="btn">Download .tar.gz</a>
    </section>

    <section class="main-content">
	<ul>
		<li><a class="active" href="#home">Hito 0</a></li>
		<li><a href="#hito1">Hito 1</a></li>
		
	</ul>

    {{content}}

     

    </section>

  
  </body>
</html>
